version: 2.0

jobs:
  install:
    docker:
      - image: cypress/base:14.16.0
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v5-deps-{{ checksum "yarn.lock" }}
            - v5-deps-{{ .Branch }}
            - v5-deps
      - run:
          name: Install Dependencies
          command: yarn install
      - save_cache:
          key: v5-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - src/node_modules
            - ~/.cache
      - persist_to_workspace:
          root: ~/app
          paths: .

  test:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v5-deps-{{ checksum "yarn.lock" }}
            - v5-deps-{{ .Branch }}
            - v5-deps
      - run:
          name: Lint code.
          command: yarn lint --format ./node_modules/eslint-junit/index.js
          environment:
            ESLINT_JUNIT_OUTPUT: ./test-results/lint/eslint.xml
      - run:
          name: Unit tests
          command: yarn test:unit --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/unit/
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

  nuxt:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v5-deps-{{ checksum "yarn.lock" }}
            - v5-deps-{{ .Branch }}
            - v5-deps
      - run:
          name: nuxt test
          command: yarn test:nuxt
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots

  proxy:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v5-proxy-deps-{{ checksum "yarn.lock" }}
            - v5-proxy-deps-{{ .Branch }}
            - v5-proxy-deps
      - run:
          name: Install Dependencies
          command: yarn
          working_directory: proxy
      - save_cache:
          key: v5-proxy-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: test proxy server
          command: yarn test
          working_directory: proxy

workflows:
  version: 2
  commit:
    jobs:
      - install
      - test:
          requires:
            - install
      - nuxt:
          requires:
            - install
      - proxy
