$fill-default: #00A9E0;
$fill-default-hover: #19C2F9;
$fill-secondary: #004C97;
$fill-secondary-hover: #1965B0;
$fill-tertiary: #e0a700;
$fill-tertiary-hover: #ffc314;
$fill-quaternary: #c70033;
$fill-quaternary-hover: #e00039;
$titleColor: #011a3c;
$legendLabelColor: #333333;
$gridLineColor: #53565a40;
$gridLabelColor: #53565a;
$tooltipText: #011a3c;
