@import "~@dpc-sdp/ripple-global/style";

$outer-padding: 10px;

$legendLabelColor: #333333;
$gridLineColor: #53565a80;
$gridLineColorLight: #53565a40;
$gridLabelColor: #53565a;
$tooltipBorder: #53565a88;
$tooltipText: #011a3c;

$fill-default: #00A9E0;
$fill-default-hover: #19C2F9;
$fill-secondary: #003866;
$fill-secondary-hover: #045495;
$fill-tertiary: #97999C;
$fill-tertiary-hover: #b3b3b3;
$fill-quaternary: #8DD0EC;
$fill-quaternary-hover: #98daf0;

$stroke-line-1: #88dbdf;
$stroke-line-1-hover: #aee7ea;
$stroke-line-1-hover-light: #aee7ea33;
$stroke-line-2: #aa0028;
$stroke-line-2-hover: #db0033;
$stroke-line-2-hover-light: #db003333;
$stroke-line-3: #e89cae;
$stroke-line-3-hover: #f1c5cf;
$stroke-line-3-hover-light: #f1c5cf33;
$stroke-line-4: #ef005a;
$stroke-line-4-hover: #ff2478;
$stroke-line-4-hover-light: #ff247833;

$fill-default-hover-light: #00a9e033;
$fill-secondary-hover-light: #004C9733;
$fill-tertiary-hover-light: #c7003333;
$fill-quaternary-hover-light: #e0a70033;


$tree-map-fill-default: #b2e6f6;
$tree-map-fill-default-hover: #19C2F9;

// pie chart
$fill-pie-1: $fill-default;
$fill-pie-2: $fill-secondary;
$fill-pie-3: $stroke-line-3;
$fill-pie-4: #c63663;
$fill-pie-5: $stroke-line-1;
$fill-pie-6: #00848f;
$fill-pie-7: #f7cb33;
$fill-pie-8: #e7801a;
$fill-pie-9: #78be20;
$fill-pie-10: #008a58;
$fill-pie-11: #ef005a;
$fill-pie-12: #aa0028;

$fill-pie-hover-1: #0087b3;
$fill-pie-hover-2: #002747;
$fill-pie-hover-3: #dd7a8f;
$fill-pie-hover-4: #b7274e;
$fill-pie-hover-5: #58c4ca;
$fill-pie-hover-6: #006571;
$fill-pie-hover-7: #f4af00;
$fill-pie-hover-8: #df6200;
$fill-pie-hover-9: #78be20;
$fill-pie-hover-10: #007445;
$fill-pie-hover-11: #cb003b;
$fill-pie-hover-12: #7f001e;

// error styles
$error-grid-size: 50px 50px;
$error-grid-color: #80808012;
$error-grid-pattern: linear-gradient(to right, $error-grid-color 1px, transparent 1px), linear-gradient(to top, $error-grid-color 1px, transparent 1px);

.yourvic-chart-long-description {
  font-size: 12px;
  font-family: 'Vic-Medium', 'sans-serif';
  padding: 5px 5px 5px 9px;
  color: $gridLabelColor
}
