@import "global";
@import "charts";

:export {
		// Export variables to make them accessible to JS

		// Global
		titleColor: $titleColor;
		textColor: $textColor;

		// Charts

		legendLabelColor: $legendLabelColor;
		gridLineColor: $gridLineColor;
		gridLineColorLight: $gridLineColorLight;
		gridLabelColor: $gridLabelColor;
		tooltipBorder: $tooltipBorder;
		tooltipText: $tooltipText;

		fillDefault: $fill-default;
		fillDefaultHover: $fill-default-hover;
		fillSecondary: $fill-secondary;
		fillSecondaryHover: $fill-secondary-hover;
		fillTertiary: $fill-tertiary;
		fillTertiaryHover: $fill-tertiary-hover;
		fillQuaternary: $fill-quaternary;
		fillQuaternaryHover: $fill-quaternary-hover;

		strokeLine1: $stroke-line-1;
		strokeLine1Hover: $stroke-line-1-hover;
		strokeLine1HoverLight: $stroke-line-1-hover-light;
		strokeLine2: $stroke-line-2;
		strokeLine2Hover: $stroke-line-2-hover;
		strokeLine2HoverLight: $stroke-line-2-hover-light;
		strokeLine3: $stroke-line-3;
		strokeLine3Hover: $stroke-line-2-hover;
		strokeLine3HoverLight: $stroke-line-3-hover-light;
		strokeLine4: $stroke-line-4;
		strokeLine4Hover: $stroke-line-2-hover;
		strokeLine4HoverLight: $stroke-line-4-hover-light;

		treeMapFillDefault: $tree-map-fill-default;
		treeMapFillDefaultHover: $tree-map-fill-default-hover;

		fill1: $fill-1;
		fill2: $fill-2;
		fill3: $fill-3;
		fill4: $fill-4;
		fill5: $fill-5;
		fill6: $fill-6;
		fill7: $fill-7;
		fill8: $fill-8;
		fill9: $fill-9;
		fill10: $fill-10;
		fill11: $fill-11;
		fill12: $fill-12;
		fillHover1: $fill-hover-1;
		fillHover2: $fill-hover-2;
		fillHover3: $fill-hover-3;
		fillHover4: $fill-hover-4;
		fillHover5: $fill-hover-5;
		fillHover6: $fill-hover-6;
		fillHover7: $fill-hover-7;
		fillHover8: $fill-hover-8;
		fillHover9: $fill-hover-9;
		fillHover10: $fill-hover-10;
		fillHover11: $fill-hover-11;
		fillHover12: $fill-hover-12;
}